<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics Links</title>

</head>
<body>
    <div class="container">
        <h1>Analytics Links</h1>
        <ul style="display: flex; flex-direction: column; gap: 30px; padding: 5px 0 0 40px; font-size: large;">
            <li><a href="/analytics/blog-views/">/analytics/blog-views/</a></li>
            <li><a href="/analytics/top/">/analytics/top/</a></li>
            <li><a href="/analytics/performance/">/analytics/performance/</a></li>
        </ul>
    </div>
</body>
</html>
